label{
    display: block;
    margin-left: none;
}
.color_top{
    display: flex;
    justify-content: space-around;
    background-color:#001440 ;
    color: ivory;
}
li{
    list-style-type: none;
}